.tasks-page
  - if @contest_participation.present? || @contest.end_time == nil
    - if @tasks.present?
      %h1
        = @contest.name
        - if @contest.end_time < Time.now
          = "(Завершено)"
      %ul.tasks-container
        - @tasks.map do |task|
          %li
            %a{class:"task-item difficulty-#{task.points}#{' completed' if @task_solved[task]}", href: "#{contest_task_path(task.contest, task)}"} 
              = task.name
  - elsif @contest.end_time.present?
    %h1
      = @contest.name
    = link_to "Участвовать в соревновании", [:add_participant, @contest], method: :post, class: 'participate', remote: true
  %ul
    %h3
      Участники
    - @contest.participants.each do |participant|
      :ruby
        results = Result.where(user_id: participant.id)
        solved_count = results.count
        points = 0
        results.map(&:task).each do |task|
          if task.in? @contest.tasks
            points += task.points
          end
        end
      %li= "#{participant.first_name} #{participant.last_name} (#{participant.username}) | Решено задач: #{solved_count} | Всего баллов: #{points}"