.task-page
  %a.back{href: ".."} 
    ⬅ Назад
  .task-info
    %h2{class: "task-name#{' task-completed' if @user_query.present?}"}
      = @task.name
    %p.task-description= @task.description
    %p.task-points-description Количество баллов за выполнение: #{@task.points}
  .sql
    = simple_form_for [@task.contest, @task], method: :get, url: url_for(controller: params[:controller], action: :show), as: 'q', remote: true do |f|
      = f.input :query, as: :text, input_html: {value: @user_query, placeholder: "Введите ваш запрос"}
      = f.submit "Отправить"
  #query-result
  #correct-result