.contests-page
  - if @contests.present?
    %h1 Текущие соревнования
    %table.contests-container{cellspacing: "0"}
      %thead
        %tr
          %th 
            %span #
          %th 
            %span Название
          %th 
            %span Организатор
          %th 
            %span Дата начала
          %th 
            %span Дата окончания
      %tbody
        - @contests.map do |contest|
          %tr
            %td
              = link_to contest.id, contest
            %td
              = link_to contest.name, contest
            %td
              = link_to contest.user.username, contest.user
            %td
              = link_to contest.start_time.strftime(format="%d.%m.%Y %H:%M"), contest
            %td
              = link_to contest.end_time.strftime(format="%d.%m.%Y %H:%M"), contest
  - if @finished_contests.present?
    %h1 Завершенные соревнования
    %table.contests-container{cellspacing: "0"}
      %thead
        %tr
          %th
            %span #
          %th
            %span Название
          %th
            %span Организатор
          %th
            %span Дата начала
          %th
            %span Дата окончания
      %tbody
        - @finished_contests.map do |contest|
          %tr
            %td
              = link_to contest.id, contest
            %td
              = link_to contest.name, contest
            %td
              = link_to contest.user.username, contest.user
            %td
              = link_to contest.start_time.strftime(format="%d.%m.%Y %H:%M"), contest
            %td
              = link_to contest.end_time.strftime(format="%d.%m.%Y %H:%M"), contest