%head
  = stylesheet_link_tag 'application'
  = javascript_pack_tag 'application'
  = csrf_meta_tags
%body
  .menu
    .row
      .menu-item.col-4
        #contests
          = link_to "Соревнования", controller: 'contests', action: 'index'
      .menu-item.col-4
        #about
          О Нас
          -#%a= link_to
      .menu-item.col-4
        #profile
          Профиль
          - if current_user
            %a= link_to "Выйти", destroy_user_session_path, method: :delete
          - else
            %a= link_to "Войти", new_user_session_path, title: "pizdataya ssilka", style:"font-size:14px;"
            %a= link_to "Регистрация", new_user_registration_path
= yield