%head
  %link{href: "https://fonts.googleapis.com", rel: "preconnect"}
  %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}
  %link{href: "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap", rel: "stylesheet"}
  = stylesheet_link_tag 'application'
  = javascript_pack_tag 'application'
  = csrf_meta_tags
%body
  .menu
    .menu-item#skleh
      %a{href: "#{root_url}"} 
        %img{src: "https://cdn-icons-png.flaticon.com/512/864/864685.png"}
        skleh
    .menu-item#contests
      = link_to "Соревнования", "#{root_url}contests"
    .menu-item#about
      %a{href: "#{root_url}"} О Нас
    .menu-item#profile
      - if current_user
        %a.username
          Аккаунт: 
          = current_user.username
        = link_to "Выйти", destroy_user_session_path, method: :delete
      - else
        = link_to "Войти", new_user_session_path
        = link_to "Регистрация", new_user_registration_path
  = yield